/*------------------------------------------------------------------------
# Variables
------------------------------------------------------------------------*/
$rgba_3 : rgba($palette-primary_3, 0.30);
$rgba_4 : rgba($palette-primary_4, 0.50);

/*------------------------------------------------------------------------
# Defaults
------------------------------------------------------------------------*/


/*------------------------------------------------------------------------
# Palettes
------------------------------------------------------------------------*/
.palette-primary {

	/*-----------------------------------------------
	## 1
	-----------------------------------------------*/
	.page-title,
	a,
	a:hover,
	a:focus,
	.widget-title,
	.link-primary,
	.link-primary:hover,
	.link-primary:focus,
	#secondary table th,
	.gridblock .heading-alt,
	#secondary .table-striped > tbody > tr #today a,
	#secondary-menu .current-menu-item a,
	#tertiary-menu .current-menu-item a,
	#footer-center-menu .current-menu-item a,
	#menu-social .current-menu-item a,
	.post .entry-title,
	.single .entry-title {
		color: $palette-primary_1;
	}
	#commentsubmit,
	.button-secondary,
	input[type="submit"],
	.comment-reply-link,
	.site-header .widget.well .button-primary {
		background: $palette-primary_1 !important;
		border: 2px solid $palette-primary_1 !important;
		color: $text-contrast-palette-primary_1 !important;
	}
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus,
	.navbar-default .navbar-nav > .open > a,
	.navbar-default .navbar-nav > .open > a:hover,
	.navbar-default .navbar-nav > .open > a:focus,
	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > .active > a:hover,
	.navbar-default .navbar-nav > .active > a:focus,
	.navbar-default .navbar-nav > .current-menu-parent > a {
		background: none;
		color:	$palette-primary_1;
	}
	.form-submit .submit:hover,
	.form-submit .submit:focus,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus,
	.nav > li > a:focus,
	.nav > li > a:hover,
	.mark,
	mark {
		background: $palette-primary_1;
		color: $text-contrast-palette-primary_1;
	}
	.navbar-default .navbar-toggle .icon-bar,
	hr {
		background-color: $palette-primary_1;
	}
	.mod-blockquote,
	blockquote {
		border-left: 10px solid $palette-primary_1;
	}
	.form-submit .submit {
		background: $text-contrast-palette-primary_1;
		color: $palette-primary_1;
	}
	.button-secondary:hover,
	.button-secondary:focus,
	.button-secondary:active,
	input[type="submit"]:hover,
	input[type="submit"]:focus,
	#commentsubmit:hover,
	#commentsubmit:focus,
	.comment-reply-link:hover,
	.comment-reply-link:focus {
		background: none !important;
		border: 2px solid $palette-primary_1 !important;
		color: $palette-primary_1 !important;
	}
	.button-primary:hover,
	.button-primary:focus,
	.button-primary:active,
	.pager li > a:hover,
	.pager li > a:focus,
	.alert .btn.button-primary,
	.woocommerce-Message .btn.button-primary {
		background: $palette-primary_1;
		border: 2px solid $palette-primary_1;
		color: $text-contrast-palette-primary_1;
	}
	.entry-title:before {
		border-top: 2px solid $palette-primary_1;
	}

	/*-----------------------------------------------
	## 2
	-----------------------------------------------*/
	button,
	optgroup,
	.link-secondary,
	.link-secondary:hover,
	.link-secondary:focus,
	#menu-social li a:hover,
	#menu-social li a:focus,
	#secondary-menu a[href]:hover,
	#tertiary-menu a[href]:hover,
	#footer-center-menu .menu-social a[href]:hover {
		color: $palette-primary_2;
	}
	.widget-area {
		border: 1px solid $palette-primary_2;
	}
	.navbar-default .navbar-toggle:hover .icon-bar,
	.navbar-default .navbar-toggle:focus .icon-bar {
		background-color: $text-contrast-palette-primary_2;
	}
	.dropdown-menu,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		background: $palette-primary_2;
		color: $text-contrast-palette-primary_2;
	}

	/*-----------------------------------------------
	## 3
	-----------------------------------------------*/
	#footer-center-menu a,
	caption,
	.widget-area caption,
	#secondary .widget-title,
	#secondary .table > tbody > tr td {
		color: $text-contrast-palette-primary_3;
	}
	.call-to-action h3 {
		color: $palette-primary_3;
		text-shadow: -2px 4px 5px rgba(85, 85, 85, 0.2);
	}
	.button-primary,
	.pager li > a {
		background: none;
		border: 2px solid $palette-primary_3;
		color: $palette-primary_3;
	}
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus {
		background: $text-contrast-palette-primary_3;
	}
	.call-to-action h2 {
		border-bottom: 1px solid $palette-primary_3;
		color: $palette-primary_3;
		text-shadow: -2px 4px 5px rgba(85, 85, 85, 0.2);
	}
	.mod-beta h3 {
		border-bottom: 1px solid $palette-primary_3;
	}
	.mod-divider a {
		background: $palette-primary_3;
		color: $text-contrast-palette-primary_3;
	}
	.mod-divider::before,
	.mod-divider::after {
		border-top: 1px solid $palette-primary_3;
	}
	.wc-gallery img {
		border: 6px solid $palette-primary_3;
	}
	.mod-icon-hexagon::before {
		border-bottom: 25px solid $palette-primary_3;
		border-left: 50px solid transparent;
		border-right: 50px solid transparent;
	}
	.mod-icon-hexagon::after {
		border-left: 50px solid transparent;
		border-right: 50px solid transparent;
		border-top: 25px solid $palette-primary_3;
	}
	.mod-icon-hexagon {
		background: $palette-primary_3;
	}
	.form-control,
	.black-studio-tinymce-widget p,
	#secondary .table-striped > tbody > tr:nth-child(2n+1) td {
		color: $text-contrast-palette-primary_3;
	}

	/*-----------------------------------------------
	## 4
	-----------------------------------------------*/
	.background-overlay,
	.entry-footer,
	.mod-icon-circle i,
	.disabled-footer .site-footer,
	#boldgrid-sticky-filler {
		background: $palette-primary_4;
	}
	body,
	.site-content,
	.panel-default > .panel-heading,
	.panel-body,
	.panel-footer {
		background: $palette-primary_4;
		color: $text-contrast-palette-primary_4;
	}
	.site-header,
	.site-header .widget.well {
		background: rgba(255,255,255,.50);
		color: $palette-primary_4;
	}
	.sidebar .widget_calendar caption,
	.sidebar .widget_calendar th,
	.fa-inverse,
	.site-footer .widget.well,
	.site-footer .widget.well a,
	.site-footer .widget.well caption,
	#reviews #comments ol.commentlist li .meta {
		color: $text-contrast-palette-primary_4;
	}
	.site-title a,
	.site-description,
	#menu-social a,
	#menu-social li a,
	#secondary-menu a,
	#tertiary-menu a,
	.mod-icon-hexagon i,
	.navbar-default .navbar-nav > li > a {
		color: $palette-primary_4;
	}
	.navbar-default .navbar-toggle,
	.panel-default {
		border-color: $palette-primary_4;
	}
	.background-alpha,
	.background-beta,
	.background-gamma {
		background: $palette-primary_4;
		color: $text-contrast-palette-primary_4;
	}
	.site-footer {
		background: $palette-primary_4;
		border-top: 1px solid $text-contrast-palette-primary_4;
		color: $text-contrast-palette-primary_4;
	}
	.entry-title,
	.entry-title a {
		background: $palette-primary_4;
		color: $text-contrast-palette-primary_4;
	}

	/* sm */
	@media (min-width: 768px) {
		/* Dropdown Child Default */
		.navbar-default .navbar-nav .open .dropdown-menu > li > a {
			color: $text-contrast-palette-primary_4;
		}
	}

	/*-----------------------------------------------
	## Et Cetera
	-----------------------------------------------*/
	&.mce-content-body {
		background: $palette-primary_4 !important;
		color: $text-contrast-palette-primary_4;
	}
	&.blog .site-content {
		background: $palette-primary_4;
		color: $text-contrast-palette-primary_4;
	}

	h1,
	h2 {
		text-shadow: -2px 4px 5px rgba(85, 85, 85, 0.2);
	}
	.mod-alpha img,
	.mod-gamma img {
		box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.3);
		-webkit-box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.3);
	}
	.background-beta:before,
	.background-beta:after  {
		border-top: 700px solid rgba(255, 255, 255, 0.35);
	}

	/*-----------------------------------------------
	## WooCommerce
	-----------------------------------------------*/
	&.woocommerce div.product .stock.out-of-stock {
		color: $palette-primary_1;
	}
	&.woocommerce div.product .stock {
		color: $text-contrast-palette-primary_4;
	}
}

/*------------------------------------------------------------------------
# Additional Body Classes
------------------------------------------------------------------------*/
body:before,
body:after {
	border-top: 700px solid rgba(255, 255, 255, 0.35);
}
